<!DOCTYPE html>
<html>
  <head>
    <title>BudgetCook</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Satisfy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel= 'stylesheet' href= 'css/style.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css'>
    <!-- Compiled and minified JavaScript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js'></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
 
    <style>
      
    </style>
  </head>
  
  <body class = "aboutBody" >
      <div class= "navbar-fixed">
        <nav class= "lime darken-1 navbar navbar-default">
          <a href="#" class="brand-logo center"><img class="groceryLogo" src="img/croppedlogo.png" /></a>
                <div class="nav-wrapper">
                    <a href="/" class="left brand-logo" id= "logoName"><font size= "10">BudgetCook</font></a>
                    <ul id="nav-mobile" class="right">
                       <li class= "navtext  hide-on-med-and-down" id= "third"><a href="views/about.ejs"><font color= "white" size= "4">About Budget Cook</font></a></li>
                        <li class= "navtext" id= "fourth"><a href="views/signup.ejs"><font color= "white" size="4">Sign Up</font></a></li>
                        <li class= "navtext" id= "fifth"><a href="/login"><font color= "white" size="4">Log In</font></a></li>
                        <hr />
                    </ul>
                </div>
        </nav>
    </div> 
        </nav>
    </div> 
    
    <div id="table" class= "col s9" style = "display: block center;">
     <header>
            <p class=" aboutBC center">
                About BudgetCook
            </p>
        </header>
        <p class="aboutP">At Budgetcook, we strive to make shopping for groceries with a budget easy for everyone. 
        Many people struggle with budgeting especially young adults who are first learning to live on their own. 
        Budgetcook plans to make change that. Our app’s main feature will be a recipe budgeter where consumers enter their preferred budget and recipes that satisfy your budget limit will pop-up.
        Budgetcook is all-inclusive and caters to special diets and allergies.</p>
        </div>

   
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

 </body>
 
</html>