<!DOCTYPE html>
<html>
  <head>
    <title>BudgetCook</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Satisfy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel= 'stylesheet' href= 'css/style.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css'>
    <!-- Compiled and minified JavaScript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js'></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
 
    <style>
      


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}


    </style>
  </head>
  <body class = "couponBody" >
    <div class= "navbar-fixed">
        <nav class= "lime darken-1 navbar navbar-default">
                <div class="nav-wrapper">
                            <a href="#" class="brand-logo center"><img class="groceryLogo" src="img/croppedlogo.png" /></a>
                    <a href="/" class="left brand-logo" id= "logoName"><font size= "10">BudgetCook</font></a>
                    <ul id="nav-mobile" class="right">
                        <li class= "navtext  hide-on-med-and-down noline" id= "third"><a href="/about"><font color= "white" size= "4">About BudgetCook</font></a></li>
                        <li class= "navtext noline" id= "fourth"><a href="/signup"><font color= "white" size="4">Sign Up</font></a></li>
                        <li class= "navtext noline" id= "fifth"><a href="/login"><font color= "white" size="4">Log In</font></a></li>
                        <hr />
                    </ul>
                </div>
        </nav>
    </div> 
    <div>
      <p><header class="dealsTitle center"><font color="white">Find Deals Near You!</font></header></p>
 </div>

<div class="container">
   <div class="row">
    
  <div class="card medium">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://stmaryskids.org/wp-content/uploads/whole-foods-banner.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Whole Foods Weekly Deals<i class="material-icons right">more_vert</i></span>
      <p><a href="http://assets.wholefoodsmarket.com/storespecials/USQ_specials.pdf">Full Coupon Flyer</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Whole Foods Weekly Deals<i class="material-icons right">close</i></span>
      <p>Whole Foods deals this week: Porterhouse & T-Bone Steaks ($11.99/lb); Classic & Peppered Turkey Bacon ($4.99/lb)</p>
    </div>
  </div>


           <div class="card medium">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://stmaryskids.org/wp-content/uploads/whole-foods-banner.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Online Deal! $10 Off Your Next Order<i class="material-icons right">more_vert</i></span>
      <p>  <a href="https://www.retailmenot.com/view/traderjoes.com?c=8989558">Coupon Link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Online Deal! $10 Off Your Next Order<i class="material-icons right">close</i></span>
      <p><font color="red" size="6">Hurry! Deal Ends Soon!</font></p>
    </div>
  </div>

  

    <div class="card medium">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://www.ogim.4u2ges.com/textit/ctown.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">C-Town Supermarkets always have weekly deals<i class="material-icons right">more_vert</i></span>
      <p>  <a href="https://www.ctownsupermarkets.com/Weekly-Circular">Coupon Link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">C-Town Supermarkets always have weekly deals<i class="material-icons right">close</i></span>
      <p>Deals include: Chicken Legs ($.99/lb); Corned Beef ($3.99/can); Porkchops ($2.00/lb); Sirloin Steak ($5.99/lb); etc.</p>
    </div>
  </div>


    <div class="card medium">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://upload.wikimedia.org/wikipedia/en/7/7c/MortonWilliams_Fresh_Marketplace_Logo.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Morton Williams always have weekly deals!<i class="material-icons right">more_vert</i></span>
      <p>  <a href="http://www.allweeklyads.com/morton-williams-circular-specials/">Coupon Link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Morton Williams always have weekly deals!<i class="material-icons right">close</i></span>
      <p>Morton Williams always have weekly deals! This week they have discounted meat.</p>
    </div>
  </div>


     <div class="card medium">
        <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://a.mktgcdn.com/p/T_TiuPrEkL-bM8k2K0Kj3cIfFybwnPfhbrIlBvUwMtA/2500x890.jpg">
        </div>
        <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Groupon Online Deal For Westerly Natural Market<i class="material-icons right">more_vert</i></span>
      <p><a href="https://www.groupon.com/deals/westerly-market-5">Coupon Link</a></p>
        </div>
        <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Groupon Online Deal For Westerly Natural Market<i class="material-icons right">close</i></span>
      <p>Groupon has two options for deals at Westerly Natural Market: (1)$15 for $30 worth of organic groceries
(2) $25 for $40 worth of organic groceries. <font color="red">Hurry! Deal ends soon!</font></p>
        </div>
  </div>

  
      <div class="card medium">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://lifeasmom.com/wp-content/uploads/2016/07/Google_Express_Logo_H_FC_RGB.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Groupon Online Deal For Google Express<i class="material-icons right">more_vert</i></span>
      <p>  <a href="https://www.groupon.com/deals/google-express-nat-42">Coupon Link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Groupon Online Deal For Google Express<i class="material-icons right">close</i></span>
      <p>$40 toward your first purchase on Google Express, delivered to your home. Get the things you need delivered from your go-to stores.<font color="red">Hurry! Deal ends soon!</font></p>
    </div>
</div>
          
        </div>
 </div>


    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

 </body>

</html>



