<!DOCTYPE html>
<html>
  <head>
    <title>BudgetCook</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Satisfy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel= 'stylesheet' href= 'css/style.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css'>
    <!-- Compiled and minified JavaScript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js'></script>
 <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyC_pokOQYgXoiRK7xxGfhZURoO_3zElGag",
    authDomain: "budgetcook-e9c19.firebaseapp.com",
    databaseURL: "https://budgetcook-e9c19.firebaseio.com",
    projectId: "budgetcook-e9c19",
    storageBucket: "",
    messagingSenderId: "847271826234"
  };
  firebase.initializeApp(config);
</script>

  </head>
  <body class = "loginBody" >
    <div class= "navbar-fixed">
        <nav class= "lime darken-1 navbar navbar-default">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo center"><img class="groceryLogo" src="img/croppedlogo.png"/></a>
                    <a href="/" class="left brand-logo" id= "logoName"><font size= "10">BudgetCook</font></a>
                    <ul id="nav-mobile" class="right">
                        <li class= "navtext  hide-on-med-and-down noline" id= "third"><a href="/about"><font color= "white" size= "4">About BudgetCook</font></a></li>
                        <li class= "navtext noline" id= "fourth"><a href="/signup"><font color= "white" size="4">Sign Up</font></a></li>
                        <li class= "navtext noline" id= "fifth"><a href="/login"><font color= "white" size="4">Log In</font></a></li>
                        <hr />
                    </ul>
                </div>
        </nav>
    </div> 
 <script src="https://www.gstatic.com/firebasejs/4.1.5/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyC_pokOQYgXoiRK7xxGfhZURoO_3zElGag",
    authDomain: "budgetcook-e9c19.firebaseapp.com",
    databaseURL: "https://budgetcook-e9c19.firebaseio.com",
    projectId: "budgetcook-e9c19",
    storageBucket: "",
    messagingSenderId: "847271826234"
  };
  firebase.initializeApp(config);
</script>
    <div id="table" class= "col s9" style = "display: inline-block;">
        <span class= "flow-text" id= "loginHeading"><font color="black" size= "10"><center>Login</center></font></span>
           <div>
               <h2 class="personalExperience center"id="experiencePersonalized"><font size="6">Enable your personalized experience while using BudgetCook!</font></h2>
        <h3 id="google-displayName"></h3>
        <img class="profile-pic center"id="google-pic"/>
        <p id="google-email"></p>
     
        </div>
        <a  class="waves-effect waves-light btn" id="google-signin" 
            onclick={signInWithGoogle()}>
        <i class="material-icons left">cloud</i>Sign in with Google</a>
        
          <button 
            class="btn btn-"
            id="signout" 
            onclick={signOut()}
            style="display: none; visibility: hidden;" >
            Sign Out
        </button>
    </div>


    <script src="js/firebaseAuth.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

 </body>

</html>