<!DOCTYPE html>

<html>
    <head>
        <title>
            Sign Up
        </title>
         </head>
        <body>
            <header>
                <h1>
                    Sign Up With Us
                </h1>
            </header>
        </body>
   
</html>